.header-area{
    padding: 8px 0;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-items{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-items a{
   margin-left: 35px;
   text-decoration: none;
   font-weight: 500;
}
.singup-btn{
    background-color: #F91944;
    color: #fff;
    padding: 12px 24px;
    border-radius: 20px;
}