.foods-area{
    padding: 72px 0;
}
.food-items{
    text-align: center;
    display: flex;
    justify-content: center;
}
.food-items a{
    margin-right: 35px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
}
.foods-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin: 75px 0;
}